[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
python-dotenv = "*"
boto3 = "*"
django-storages = "*"
drf-yasg = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
