{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Repli Insta</title>
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" 
        href="{% static 'css/repliinsta-ui.css' %}"> 
</head>
<body>
	
	{% include "navbar.html" %}

	{% block content %}

	{% endblock content %}


	
	<script type="module" src="{% static 'js/navbar.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body> 
</html>