{% url 'index' as path_to_index %}
{% load static %}

<nav class="z-40 fixed bg-white py-2 border-b border-gray-100 w-full h-16 flex items-center">
    <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
            <a href="/" class="text-rose-400 text-2xl font-semibold">Repli Insta</a>
        </div>
        <div class="flex flex-row justify-start items-center">
            <a href="{% url 'posts:main-post-view' %}" class="px-2 text-rose-400 hover:scale-105 transition-transform duration-300 cursor-pointer">New Posts</a>
            
            {% if request.user.is_authenticated %}
                <img src="{% static 'img/add.svg' %}" id="postButton" class="h-16 w-16 px-4 stroke-rose-800 hover:scale-105 transition-transform duration-300 cursor-pointer">
                
                <div class="flex items-center relative">
                    <img class="h-8 w-8 rounded-full ring-2 ring-white hover:scale-105 transition-transform duration-300 cursor-pointer" src="{{ user_avatar.url }}" id="dropdownHoverButton">

                    <!-- Dropdown menu -->
                    <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow absolute top-full right-0 w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                            <li>
                            <a href="{% url 'profiles:profile-view' slug=user_slug %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Profile</a>
                            </li>
                            <li>
                            <a href="{% url 'profiles:profile-set' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                            </li>
                            <li>
                            <a href="{% url 'account_logout' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="flex items-center relative">
                    <a href="{% url 'account_signup' %}" class="text-black ml-6 hover:text-rose-400">Sign up</a>
                    <a href="{% url 'account_login' %}" class="text-black ml-6 hover:text-rose-400">Sign in</a>
                            
                </div>
            {% endif %}
        </div>
        
        
    </div>
</nav>

<dialog id="writePostDialog" class="rounded">
    <form id="postForm" class="max-w-xl rounded overflow-hidden shadow-lg px-4 py-4 grid gap-4" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="image" class="border-2 border-gray-300 py-2 rounded-md">
        <textarea class="w-full py-4 border-2 border-gray-300 rounded-md" name="content"></textarea>
        
        <div class="md:flex justify-end">
            <button id="submitPostButton "class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="submmit_post">
                Send Post
            </button>
        </div>
    </form>
    {% if user_id %}
    <p id="userId" class="hidden">{{ user_id }}</p>
    {% endif %}
</dialog>