{% url 'index' as path_to_index %}
{% load static %}

<nav class="z-40 fixed bg-white w-1/6 h-full border-r">
    <div class="container mx-auto flex items-center justify-between flex-col h-full">
        <div class="flex items-center">
            <a href="/" class="text-rose-400 text-2xl font-semibold mt-8">Repli Insta</a>
        </div>
        <div class="flex flex-col w-9/12 h-full mt-4">
            <a href="{% url 'posts:main-post-view' %}" class="flex flex-row items-center py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mt-4 px-2"><img src="{% static 'img/navigation.png' %}"  class="h-8 w-8">
                <p class="mx-4">Explore</p>
            </a>
                
            
            {% if request.user.is_authenticated %}

                <a href="{% url 'profiles:friends' %}" class="flex flex-row items-center px-2 py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mt-8"><img src="{% static 'img/following.png' %}"  class="h-8 w-8">
                    <p class="mx-4">Friends</p>
                </a>

                <a href="{% url 'profiles:liked-posts' %}" class="flex flex-row items-center px-2 py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mt-4"><img src="{% static 'img/unlike.png' %}"  class="h-8 w-8">
                    <p class="mx-4">Likes</p>
                </a>

                <div id="postButton" class="flex flex-row items-center py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mt-4 px-2">
                    <img src="{% static 'img/add.svg' %}"  class="h-8 w-8">
                    <p class="mx-4">Create</p>
                </div>

                <a href="{% url 'profiles:profile-view' slug=user_slug %}" class="flex flex-row items-center py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mt-4 px-2">
                    <img src="{{ user_avatar.url }}"  class="h-8 w-8 rounded-full">
                    <p class="mx-4">Profile</p>
                </a>
                    
                <a href="{% url 'profiles:profile-set' %}" class="flex flex-row items-center py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mt-auto px-2">
                    <img src="{% static 'img/user-gear.png' %}"  class="h-8 w-8">
                    <p class="mx-4">Setting</p>
                </a>

                <a href="{% url 'account_logout' %}" class="flex flex-row items-center py-4 rounded text-rose-400 hover:scale-105 hover:bg-slate-200/50 transition-transform duration-300 cursor-pointer mb-2 px-2">
                    <img src="{% static 'img/signout.png' %}"  class="h-8 w-8">
                    <p class="mx-4">Sign out</p>
                </a>

            {% else %}
                <div class="flex items-center relative flex-col">
                    <a href="{% url 'account_signup' %}" class="text-black ml-6 hover:text-rose-400 mt-8">Sign up</a>
                    <a href="{% url 'account_login' %}" class="text-black ml-6 hover:text-rose-400 mt-8">Sign in</a>
                            
                </div>
            {% endif %}
        </div>
        
        
    </div>
</nav>

<dialog id="writePostDialog" class="rounded">
    <form id="postForm" class="max-w-xl rounded overflow-hidden shadow-lg px-4 py-4 grid gap-4" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="image" class="border-2 border-gray-300 py-2 rounded-md">
        <textarea class="w-full py-4 border-2 border-gray-300 rounded-md" name="content"></textarea>
        
        <div class="md:flex justify-end">
            <button id="submitPostButton "class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="submmit_post">
                Send Post
            </button>
        </div>
    </form>
    {% if user_id %}
    <p id="userId" class="hidden">{{ user_id }}</p>
    {% endif %}
</dialog>