{% extends 'base.html' %}
{% load static %}



{% block content %}

<div id="postModal">
</div>
<div id = "updateForm"></div>


<div id="postsContainer">   
   
</div>

{% endblock content %}



{% block scripts %}
<!-- <script type="module" src="{% static 'js/posts/postsPage.js' %}"></script>
<script type="module" src="{% static 'js/posts/clickAvatar.js' %}"></script>
<script type="module" src="{% static 'js/posts/likePost.js' %}"></script> -->
<script type="module" src="{% static 'js/explorePage.js' %}"></script>

{% endblock %}



