{% extends 'base.html' %}
{% load static %}



{% block content %}
<div id="postModal">

</div>

{% endblock content %}

{% block left %}
{% if user_id %}
  <p id="userId" class="hidden">{{ user_id }}</p>
{% endif %}
{% endblock left %}

{% block center %}
<div id="postsContainer">   
   
</div>

{% endblock center %}

{% block right %}
<div id="rightPostContainer">
</div>




{% endblock right %}


{% block scripts %}
<script type="module" src="{% static 'js/posts/posts.js' %}"></script>
<script type="module" src="{% static 'js/posts/clickAvatar.js' %}"></script>
<script type="module" src="{% static 'js/posts/likePost.js' %}"></script>

{% endblock %}



