{% extends 'base.html' %}

{% block content %}
<div class="text-red-950">{{ user }}</div>
    <!-- <div class="container mx-auto mt-4 grid grid-cols-3 gap-4">
        <div class="col-span-1">
            {% block left %}
            {% endblock left %}
        </div>
        <div class="col-span-2">
            {% block center %}
            {% include "posts/main.html" %}
            {% endblock center %}
        </div>
        <div class="col-span-1">
            {% block right %}
            {% endblock right %}
        </div>
    </div> -->
    
{% endblock content %}
