{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="updateForm" class="z-60 hidden bg-slate-300/50 w-full h-full fixed flex justify-center items-center">
    <form id="updateFormContainer" class="max-w-xl rounded overflow-hidden shadow-lg px-4 py-4 grid gap-4 bg-white" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="image" class="border-2 border-gray-300 py-2 rounded-md">
        <textarea class="w-full py-4 border-2 border-gray-300 rounded-md" name="content"></textarea>
        
        <div class="md:flex justify-end">
            <button id="submitPostButton "class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="submmit_post">
                Update Post
            </button>
        </div>
    </form>
</div>

<div id="postModal">
</div>
<div id="profileInfo">
  
</div>
		
<div id="postsContainer">
   
</div>
{% endblock content %}




{% block scripts %}
<script type="module" src="{% static 'js/profiles/profilePage.js' %}"></script>

{% endblock %}